<html>
  {{ 
    template "header" 
    map "isWhite" "true"
        "Title" "Gomailer - About us" 
  }}

  <div class="w-full bg-white flex flex-col gap-[85px] p-[40px]">
    <div class="text-[80px] font-[300] self-end">ABOUT US</div>

    <div class="flex flex-col gap-[20px] text-[18px]">
      <div>
        At GoMailer, we believe that every email should reflect the unique voice
        behind it. That’s why we’ve created a platform that empowers you to
        design, customize, and send stunning emails that match your tone,
        purpose, and brand identity effortlessly.
      </div>
      <div>
        Whether you’re a small business owner, a marketer, a freelancer, or just
        someone who wants to send better emails, GoMailer is built to simplify
        your workflow. Our library of professionally-designed templates helps
        you get started quickly, while powerful customization tools ensure your
        message feels personal and on-point.
      </div>
      <div>
        We’re more than just templates we’re your creative partner in
        communication. From promotional campaigns and product launches to
        heartfelt announcements and newsletters, we make it easy to send emails
        that don’t just look good, but connect.
      </div>
      <div>
        GoMailer is where smart design meets simple execution. No code. No
        stress. Just beautiful emails that get results.
      </div>
    </div>
  </div>

  {{ template "footer" }}
</html>
