<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeMirror Integration</title>

    <!-- code mirror design/UI import -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/theme/dracula.min.css">

    <!-- code mirror library import -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/mode/xml/xml.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/mode/css/css.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/mode/htmlmixed/htmlmixed.min.js"></script>

    <script src="https://cdn.tailwindcss.com"></script>
    <!-- toast lib -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>


    <style>
        html {
            font-family: Arial, sans-serif;
            margin: 0px;
            padding: 0px;
            scroll-behavior: smooth;
            width: 100%;
            font-family: Lexend;
        }

        /* width */
        ::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f100;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #88888889;
            border-radius: 1rem;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        .CodeMirror {
            height: 100%;
        }

        .signup-animation:hover>#front {
            background-color: #000;
            color: #fff;
            /* top-[-5px] left-[5px] */
            top: 0px;
            left: 0px;
        }

        .signup-animation:hover>#back {
            background-color: #fff;
            color: #000;
        }
    </style>
</head>

<body class="flex flex-col w-full">

    <div class="hidden w-full h-full bg-[#00000053] absolute top-0 left-0 z-10 flex-col items-center justify-center"
        id="popupOverlay">
        <input type="hidden" id="csrf_token" name="csrf_token" value="{{.CsrfToken}}">
        <div class="flex flex-col items-center justify-center p-[1rem] bg-[#fff] rounded w-fit gap-2">
            <div class="flex flex-row justify-between w-full">
                <div>Add template variable</div>
                <button onclick="handlePopUpdisplay(false)" class="relative w-fit h-full flex flex-col signup-animation cursor-pointer">
                    <div id="back"
                        class="w-fit h-full bg-[#000] text-[#fff] text-[16px] font-[300] duration-500 p-1">
                        Close</div>
                    <div id="front"
                        class="absolute whitespace-nowrap w-fit top-[-5px] bg-[#fff] text-[#000] text-[16px] font-[300] left-[5px] border-[2px] border-[#000] duration-500 p-1">
                        Close
                    </div>
                </button>
            </div>
            <div class="flex flex-row gap-4 items-start w-full mt-2">
                <div class="flex flex-col gap-2">
                    <div>Enter template variable label</div>
                    <input class="p-2 border-2" id="templateVariableLabel" onkeypress="hideError()" />
                </div>
                <div class="flex flex-col gap-2">
                    <div>Enter template variable value</div>
                    <input class="p-2 border-2" id="templateVariableValue" onkeypress="hideError()" />
                </div>
            </div>
            <div class="text-[red] hidden w-full" id="templateModalError">Please enter values and make sure labels are
                unique*</div>
            
            <button onclick="addVariable()" class="relative w-fit h-full flex self-start flex-col signup-animation cursor-pointer mt-2">
                <div id="back"
                    class="w-fit h-full bg-[#000] text-[#fff] text-[16px] font-[300] duration-500 p-1">
                    Add</div>
                <div id="front"
                    class="absolute whitespace-nowrap w-fit top-[-5px] bg-[#fff] text-[#000] text-[16px] font-[300] left-[5px] border-[2px] border-[#000] duration-500 p-1">
                    Add
                </div>
            </button>
        </div>
    </div>

    <div class="flex flex-col p-[1rem] w-full h-full gap-[1rem]">
       <input 
            class="p-2 w-fit bg-[#D9D9D9] text-[#000] outline-none w-[200px]" 
            id="templateName" 
            placeholder="Template name" 
            {{ if .templateName }} value="{{ .templateName }}" {{ end }} 
        />


        <div class="flex flex-col gap-[0.5rem]" id="variableContainer">

        <button onclick="handleTemplateSubmit()" class="relative w-fit h-full flex flex-col signup-animation cursor-pointer">
            <div id="back"
                class="w-fit h-full bg-[#000] text-[#fff] text-[16px] font-[300] duration-500 p-1">
                Save template</div>
            <div id="front"
                class="absolute whitespace-nowrap w-fit top-[-5px] bg-[#fff] text-[#000] text-[16px] font-[300] left-[5px] border-[2px] border-[#000] duration-500 p-1">
                Save template
            </div>
        </button>
        
        <button onclick="handlePopUpdisplay(true)" class="relative w-fit h-full flex flex-col signup-animation cursor-pointer mt-2">
            <div id="back"
                class="w-fit h-full bg-[#000] text-[#fff] text-[16px] font-[300] duration-500 p-1">
                Add new variable</div>
            <div id="front"
                class="absolute whitespace-nowrap w-fit top-[-5px] bg-[#fff] text-[#000] text-[16px] font-[300] left-[5px] border-[2px] border-[#000] duration-500 p-1">
                Add new variable
            </div>
        </button>
        
        <div class="flex flex-row gap-2 variableItem">
            <div class="p-2 rounded border-2 w-[300px] hidden">Template variable label</div>
            <div class="p-2 rounded border-2 w-[300px] hidden">Template variable value</div>
        </div>

        </div>
        <div class="flex flex-row flex-wrap md:flex-nowrap">
            <div class="w-[100%] overflow-scroll p-0 min-h-[716px] max-h-[716px]">
                {{ if .templateContent }}
                <textarea id="codeEditor">{{ .templateContent}}</textarea>
                {{ else }}
                <textarea id="codeEditor">
<!-- template code for iframe start -->
<!DOCTYPE html>
<html>

<head>
    <title>Preview</title>
    <style>
        body,html {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0.5rem;
        }
    </style>
</head>

<body>
    <h1>Hello, World!</h1>
    <p>Edit the code to see changes.</p>
</body>

</html>

<!-- template code for iframe end -->
                </textarea>
                {{ end }}
            </div>
            <iframe id="previewPane" class="w-[100%] overflow-scroll p-0 border-2 min-h-[500px] max-h-[700px]"
                sandbox></iframe>
        </div>
        <button onclick="handleTemplateSubmit()" class="relative w-fit h-full flex flex-col signup-animation cursor-pointer">
            <div id="back"
                class="w-fit h-full bg-[#000] text-[#fff] text-[16px] font-[300] duration-500 p-1">
                Save template</div>
            <div id="front"
                class="absolute whitespace-nowrap w-fit top-[-5px] bg-[#fff] text-[#000] text-[16px] font-[300] left-[5px] border-[2px] border-[#000] duration-500 p-1">
                Save template
            </div>
        </button>

    </div>

    <!-- dom purify library for xss vulnerabilities -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.2.3/purify.min.js"
        integrity="sha512-Ll+TuDvrWDNNRnFFIM8dOiw7Go7dsHyxRp4RutiIFW/wm3DgDmCnRZow6AqbXnCbpWu93yM1O34q+4ggzGeXVA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>

        const notyf = new Notyf();

        let editor = null
        const templateVariableMap = {}

        const variableInputForClone = document.getElementsByClassName("variableItem")[0];

        const parent = document.getElementById("variableContainer");

        let inputFields = document.getElementsByClassName("variableItem")


        function hideError() {
            document.getElementById("templateModalError").style.display = "none"
        }

        function handlePopUpdisplay(doDisplay) {
            const popUpElement = document.getElementById("popupOverlay");
            if (doDisplay) {
                document.body.style.overflow = "hidden";
                popUpElement.style.display = "flex";
            } else {
                document.getElementById("templateVariableLabel").value = ""
                document.getElementById("templateVariableValue").value = ""
                document.body.style.overflow = "scroll";
                popUpElement.style.display = "none";
            }
        }

        function handleAddVariable(label, value) {
            const newInput = variableInputForClone.cloneNode(true);
            if (!label || !value) {
                document.getElementById("templateModalError").style.display = "flex"
                return;
            }
            const parent = document.getElementById("variableContainer");
            newInput.children[0].innerHTML = label;
            newInput.children[0].className = "p-2 bg-[#D9D9D9] text-[#000] outline-none w-[200px]";
            newInput.children[1].innerHTML = value;
            newInput.children[1].className = "p-2 bg-[#D9D9D9] text-[#000] outline-none w-[200px]";

            if (Object.keys(templateVariableMap).includes(label)) {
                document.getElementById("templateModalError").style.display = "flex"
                return;
            }

             // Create button
            const button = document.createElement("button");
            button.onclick = () => handlePopUpdisplay(false);
            button.className = "relative w-fit h-full flex flex-col signup-animation cursor-pointer mt-1";

            // Create inner back div
            const backDiv = document.createElement("div");
            backDiv.id = "back";
            backDiv.className = "w-fit h-full bg-[#000] text-[#fff] text-[16px] font-[300] duration-500 p-1";
            backDiv.innerText = "Delete";

            // Create inner front div
            const frontDiv = document.createElement("div");
            frontDiv.id = "front";
            frontDiv.className = "absolute whitespace-nowrap w-fit top-[-5px] bg-[#fff] text-[#000] text-[16px] font-[300] left-[5px] border-[2px] border-[#000] duration-500 p-1";
            frontDiv.innerText = "Delete";

            // Assemble & append
            button.appendChild(backDiv);
            button.appendChild(frontDiv);

            button.onclick = function () {
                parent.removeChild(newInput)
                delete templateVariableMap[label]
            }
            newInput.appendChild(button)
            parent.appendChild(newInput)
            templateVariableMap[label] = value
        }

        function addVariable() {
            const label = document.getElementById("templateVariableLabel").value
            const value = document.getElementById("templateVariableValue").value
            handleAddVariable(label, value)
            handlePopUpdisplay(false)
            updatePreview()
        }

        function debounce(func, duration) {
            let timer;
            return (...args) => {
                clearTimeout(timer);
                timer = setTimeout(() => func(...args), duration);
            }
        }

        function replaceTemplateVariable(content) {
            if ((content + "").length <= 4) {
                return content;
            }

            let data = (content + "").trim();
            let i = 0

            const openingBracketsIndex = data.indexOf("\{\{", 0)
            if (openingBracketsIndex > -1) {
                const closingBracketsIndex = data.indexOf("}}", 0)

                if (openingBracketsIndex < closingBracketsIndex) {

                    const templateVariable = data.substring(openingBracketsIndex + 2, closingBracketsIndex).trim().split(" ")[0]

                    const currentStr = data.slice(0, openingBracketsIndex) +
                        (templateVariableMap[templateVariable] ?
                            `${templateVariableMap[templateVariable]} `
                            : `<span>#no_value </span>`);
                    const trailing = replaceTemplateVariable(data.slice(closingBracketsIndex + 2))

                    return currentStr + trailing
                }
            }
            return data
        }

        function sanitizeInput(content) {

            const placeholderMap = {};
            
            let sanitizedContent = content.replace(/\{\{[\w\d_]+\}\}/g, (match, index) => {
                const token = `__PLACEHOLDER_${index}__`;
                placeholderMap[token] = match;
                return token;
            });

            sanitizedContent = DOMPurify.sanitize(sanitizedContent, {
                WHOLE_DOCUMENT: true,
                FORCE_BODY: true,
                ALLOWED_TAGS: [
                    'html', 'head', 'meta', 'title', 'body', 'style',
                    'div', 'p', 'span', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6',
                    'br', 'strong', 'em', 'a', 'img', 'link',
                    'table', 'caption', 'tr', 'th', 'tbody', 'td', 'figure'
                ],
                ALLOWED_ATTR: ['style', 'class', 'type', 'href', 'rel'],
                SAFE_FOR_TEMPLATES: true,
                RETURN_DOM: false,
                SANITIZE_DOM: true
            });

            Object.keys(placeholderMap).forEach(token => {
                sanitizedContent = sanitizedContent.replace(token, placeholderMap[token]);
            });

            return sanitizedContent;
        }

        function updatePreview() {
            const userInput = editor.getValue();
            resolvedTemplate = replaceTemplateVariable(userInput, 0)
            const sanitizedInput = sanitizeInput(resolvedTemplate)
            previewPane.srcdoc = sanitizedInput

        }

        function getSanitizedInput() {
            const userInput = editor.getValue();
            return sanitizeInput(userInput)
        }

        document.addEventListener("DOMContentLoaded", function () {

            const textarea = document.getElementById("codeEditor");

            textarea.focus()

            editor = CodeMirror.fromTextArea(textarea, {
                mode: "htmlmixed",
                lineNumbers: true,
                tabSize: 4,
                theme: "dracula"
            });

            const previewPane = document.getElementById("previewPane");

            editor.on("change", debounce(updatePreview, 1000));

            updatePreview()
        });

        async function handleTemplateSubmit() {
            let formData = new FormData();
            const templateName = document.getElementById("templateName").value
            const templateSanitized = getSanitizedInput();
            if (!templateName) {
                notyf.error(`Please enter template name!`);
                return;
            }
            if (!templateSanitized) {
                notyf.error(`Please enter template data!`);
                return;
            }

            formData.append('templateContent', templateSanitized);
            formData.append('templateVariables', Object.keys(templateVariableMap) || null)
            formData.append('templateName', templateName)
            formData.append("csrf_token", document.getElementById("csrf_token").value);

            const urlString = window.location.search; // Gets the query string part of the URL
            const urlParams = new URLSearchParams(urlString);

            const template_id = urlParams.get('template_id');

            const endpoint = template_id ? `/template/edit?template_id=${template_id}` : "/template/create"

            const response = await fetch(endpoint,
                {
                    body: formData,
                    method: "post"
                });
            const body = await response.json();

            if (!template_id) {
                if (body.message === "success") {
                    window.location.href = body.redirect
                    return;
                } else {
                    notyf.error(`Error: ${body.error}.`);
                }
            } else {
                if (body.content) {
                    notyf.success('Updated the template!');
                } else {
                    notyf.error(`Error:${body.error}`);
                }
            }
        }

    </script>

    <script>
        if ("{{.templateVariables}}") {
            const templateVariables = "{{.templateVariables}}".split(",");
            templateVariables.forEach((templateVar) => {
                handleAddVariable(templateVar, "#no_value");
            })
        }
    </script>

</body>

</html>