<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeMirror Integration</title>

    <!-- code mirror design/UI import -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/theme/dracula.min.css">

    <!-- code mirror library import -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/mode/xml/xml.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/mode/css/css.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/mode/htmlmixed/htmlmixed.min.js"></script>

    <!-- <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.2/dist/tailwind.min.css" rel="stylesheet"> -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.22/dist/full.min.css" rel="stylesheet" type="text/css" /> -->


    <style>
        html {
            font-family: Arial, sans-serif;
            margin: 0px;
            padding: 0px;
            scroll-behavior: smooth;
            width: 100%;
        }

        /* width */
        ::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f100;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #88888889;
            border-radius: 1rem;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        .CodeMirror {
            height: 100%;
        }
    </style>
</head>

<body class="flex flex-col w-full">

    <div class="hidden w-full h-full bg-[#00000053] absolute top-0 left-0 z-10 flex-col items-center justify-center"
        id="popupOverlay">
        <div class="flex flex-col items-center justify-center p-[1rem] bg-[#fff] reounded w-fit gap-2">
            <div class="flex flex-row justify-between w-full">
                <div>Add template variable</div>
                <div class="cursor-pointer p-2 bg-[grey] rounded text-[white]" onclick="handlePopUpdisplay(false)">close
                </div>
            </div>
            <div class="flex flex-row gap-4 items-start w-full mt-2">
                <div class="flex flex-col gap-2">
                    <div>Enter template variable label</div>
                    <input class="p-2 border-2" id="templateVariableLabel" onkeypress="hideError()" />
                </div>
                <div class="flex flex-col gap-2">
                    <div>Enter template variable value</div>
                    <input class="p-2 border-2" id="templateVariableValue" onkeypress="hideError()" />
                </div>
            </div>
            <div class="text-[red] hidden w-full" id="templateModalError">Please enter values and make sure labels are
                unique*</div>
            <button class="p-2 border-0 rounded outline-0 bg-[grey] text-[white] w-fit self-start"
                onclick="addVariable()">Add
            </button>
        </div>
    </div>
    </div>

    <div class="flex flex-col p-[1rem] w-full h-full gap-[1rem]">
        {{ if .templateName }}
        <input class="p-2 border-2 w-fit" id="templateName" placeholder="Template name" value="{{.templateName}}" />
        {{ else }}
        <input class="p-2 border-2 w-fit" id="templateName" placeholder="Template name" />
        {{end}}

        <div class="flex flex-col gap-[0.5rem]" id="variableContainer">
            <button onclick="handlePopUpdisplay(true)"
                class="bg-[grey] outline-0 rounded p-[1rem] border-0 text-[white] w-fit h-fit">Add new variable</button>
            <div class="flex flex-row gap-2 variableItem">
                <div class="p-2 rounded border-2 w-[300px]">Template variable label</div>
                <div class="p-2 rounded border-2 w-[300px]">Template variable value</div>
            </div>

        </div>
        <div class="flex flex-row flex-wrap md:flex-nowrap">
            <div class="w-[100%] overflow-scroll p-0">
                {{ if .templateContent }}
                <textarea id="codeEditor">{{ .templateContent}}</textarea>
                {{ else }}
                <textarea id="codeEditor">
<!-- template code for iframe start -->
<!DOCTYPE html>
<html>

<head>
    <title>Preview</title>
    <style>
        body,html {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0.5rem;
        }
    </style>
</head>

<body>
    <h1>Hello, World!</h1>
    <p>Edit the code to see changes.</p>
</body>

</html>

<!-- template code for iframe end -->
                </textarea>
                {{ end }}
            </div>
            <iframe id="previewPane" class="w-[100%] overflow-scroll p-0 border-2 min-h-[500px] max-h-[700px]"
                sandbox></iframe>
        </div>
        <div class="text-[white] bg-[grey] p-2 rounded w-fit cursor-pointer" onclick="handleTemplateSubmit()">Save</div>
    </div>

    <!-- dom purify library for xss vulnerabilities -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.2.3/purify.min.js"
        integrity="sha512-Ll+TuDvrWDNNRnFFIM8dOiw7Go7dsHyxRp4RutiIFW/wm3DgDmCnRZow6AqbXnCbpWu93yM1O34q+4ggzGeXVA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>

        let editor = null
        const templateVariableMap = {}

        const variableInputForClone = document.getElementsByClassName("variableItem")[0];

        const parent = document.getElementById("variableContainer");

        let inputFields = document.getElementsByClassName("variableItem")


        function hideError() {
            document.getElementById("templateModalError").style.display = "none"
        }

        function handlePopUpdisplay(doDisplay) {
            const popUpElement = document.getElementById("popupOverlay");
            if (doDisplay) {
                document.body.style.overflow = "hidden";
                popUpElement.style.display = "flex";
            } else {
                document.getElementById("templateVariableLabel").value = ""
                document.getElementById("templateVariableValue").value = ""
                document.body.style.overflow = "scroll";
                popUpElement.style.display = "none";
            }
        }

        function handleAddVariable(label, value) {
            const newInput = variableInputForClone.cloneNode(true);
            if (!label || !value) {
                document.getElementById("templateModalError").style.display = "flex"
                return;
            }
            const parent = document.getElementById("variableContainer");
            newInput.children[0].innerHTML = label;
            newInput.children[1].innerHTML = value;

            if (Object.keys(templateVariableMap).includes(label)) {
                document.getElementById("templateModalError").style.display = "flex"
                return;
            }

            const removeButton = document.createElement("button");
            removeButton.innerText = "Delete"
            removeButton.className = "p-2 border-2 bg-[grey] text-[white]"
            removeButton.onclick = function () {
                parent.removeChild(newInput)
                delete templateVariableMap[label]
            }
            newInput.appendChild(removeButton)
            parent.appendChild(newInput)
            templateVariableMap[label] = value
        }

        function addVariable() {
            const label = document.getElementById("templateVariableLabel").value
            const value = document.getElementById("templateVariableValue").value
            handleAddVariable(label, value)
            handlePopUpdisplay(false)
            updatePreview()
        }

        function debounce(func, duration) {
            let timer;
            return (...args) => {
                clearTimeout(timer);
                timer = setTimeout(() => func(...args), duration);
            }
        }

        function replaceTemplateVariable(content) {
            if ((content + "").length <= 4) {
                return content;
            }

            let data = (content + "").trim();
            let i = 0

            const openingBracketsIndex = data.indexOf("\{\{", 0)
            if (openingBracketsIndex > -1) {
                const closingBracketsIndex = data.indexOf("}}", 0)

                if (openingBracketsIndex < closingBracketsIndex) {

                    const templateVariable = data.substring(openingBracketsIndex + 2, closingBracketsIndex).trim().split(" ")[0]

                    const currentStr = data.slice(0, openingBracketsIndex) +
                        (templateVariableMap[templateVariable] ?
                            `${templateVariableMap[templateVariable]} `
                            : `<span>#no_value </span>`);
                    const trailing = replaceTemplateVariable(data.slice(closingBracketsIndex + 2))

                    return currentStr + trailing
                }
            }
            return data
        }

        function sanitizeInput(content) {
            return DOMPurify.sanitize(content, {
                WHOLE_DOCUMENT: true,
                FORCE_BODY: true,
                ALLOWED_TAGS: [
                    'html', 'head', 'meta', 'title', 'body', 'style',
                    'div', 'p', 'span', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6',
                    'br', 'strong', 'em', 'a', 'img', 'link',
                    'table', 'caption', 'tr', 'th', 'tbody', 'td', 'figure'
                ],
                ALLOWED_ATTR: ['style', 'class', 'type', 'href', 'rel'],
                SAFE_FOR_TEMPLATES: true,
                RETURN_DOM: false,
                SANITIZE_DOM: true
            });
        }

        function updatePreview() {
            const userInput = editor.getValue();
            resolvedTemplate = replaceTemplateVariable(userInput, 0)
            const sanitizedInput = sanitizeInput(resolvedTemplate)
            previewPane.srcdoc = sanitizedInput

        }

        function getSanitizedInput() {
            const userInput = editor.getValue();
            return sanitizeInput(userInput)
        }

        document.addEventListener("DOMContentLoaded", function () {

            const textarea = document.getElementById("codeEditor");

            textarea.focus()

            editor = CodeMirror.fromTextArea(textarea, {
                mode: "htmlmixed",
                lineNumbers: true,
                tabSize: 4,
                theme: "dracula"
            });

            const previewPane = document.getElementById("previewPane");

            editor.on("change", debounce(updatePreview, 1000));

            updatePreview()
        });

        async function handleTemplateSubmit() {
            let formData = new FormData();
            formData.append('templateContent', getSanitizedInput());
            formData.append('templateVariables', Object.keys(templateVariableMap) || null)
            formData.append('templateName', document.getElementById("templateName").value)

            const urlString = window.location.search; // Gets the query string part of the URL
            const urlParams = new URLSearchParams(urlString);

            const template_id = urlParams.get('template_id');

            const endpoint = template_id ? `/template/edit?template_id=${template_id}` : "/template/create"

            const response = await fetch(endpoint,
                {
                    body: formData,
                    method: "post"
                });
            const body = await response.json();
            if (body.content) {
                previewPane.srcdoc = body.content;
            }
        }

    </script>

    <script>
        if ("{{.templateVariables}}") {
            const templateVariables = "{{.templateVariables}}".split(",");
            templateVariables.forEach((templateVar) => {
                handleAddVariable(templateVar, "#no_value");
            })
        }
    </script>

</body>

</html>