<!-- footer -->
{{define "footer"}}
<div>
  <div>
    <div class="flex flex-row justify-between w-full px-[80px]">
      <!-- section -->
      <div class="flex flex-col gap-[45px] text-[#fff]">
        <div class="text-[30px] font-[500]">Legal</div>
        <div class="flex flex-col text-[25px] font-[300]">
          <div class="hover:scale-[1.05] duration-500 cursor-pointer">
            Privacy Policy
          </div>
          <div class="hover:scale-[1.05] duration-500 cursor-pointer">
            Cancellation Policy
          </div>
          <div class="hover:scale-[1.05] duration-500 cursor-pointer">
            Terms & Condition
          </div>
        </div>
      </div>

      <!-- section -->
      <div class="flex flex-col gap-[45px] text-[#fff]">
        <div class="text-[30px] font-[500]">Social</div>
        <div class="flex flex-col text-[25px] font-[300]">
          <div class="hover:scale-[1.05] duration-500 cursor-pointer">
            Email
          </div>
          <div class="hover:scale-[1.05] duration-500 cursor-pointer">
            Linked In
          </div>
          <div class="hover:scale-[1.05] duration-500 cursor-pointer">
            Github
          </div>
        </div>
      </div>

      <!-- section -->
      <div class="flex flex-col gap-[45px] text-[#fff] w-[40%]">
        <div class="text-[30px] font-[500]">Subscribe to our newsletter!</div>
        <div class="flex flex-col text-[25px] font-[300]">
          <div>
            Subscribe to our newsletter for the latest email design tips, new
            templates, and exclusive offers — straight to your inbox
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex flex-row justify-between w-full px-[80px] text-[18px] font-[300]"
    >
      <div class="">© 2025, Gomailer All rights reserved</div>
      <div class="flex flex-col gap-2">
        <div>Product of Sidproj</div>
        <div class="flex flex-row gap-1">
          <div>Designed by</div>
          <img class="w-[20px] h-[20px]" src="/static//images/voybyct.svg" />
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}
