<!DOCTYPE html>
<html lang="en" class="w-full h-full m-0 p-0">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- tailwind import -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- font import -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">

    <title>Gomailer - login</title>
    <style>
        .signup-animation:hover>input {
            background-color: #000;
            color: #fff;
            /* top-[-5px] left-[5px] */
            top: 0px;
            left: 0px;
        }

        .signup-animation:hover>div {
            background-color: #fff;
            color: #000;
        }
    </style>

</head>

<body class="w-full m-0 p-0 bg-[#0D58FF] text-white font-[Lexend] px-[10px] py-[10px] md:px-[50px] md:py-[20px]">

    <div class="w-full h-full flex flex-col gap-5 ">
        <div class="font-[700] text-[40px]">gomailer.co</div>

        <div class="w-full h-full flex flex-col md:flex-row items-center gap-[20px] md:gap-[70px] mt-[70px]">
            <div class="flex flex-col items-center w-[50%]">
                <img src="/static/images/Login-Ilustration.svg" class="w-[100%] md:w-[100%] h-auto" />
            </div>
            <div class="w-[100%] md:w-[42%] flex flex-col">
                <form method="post" action="/login" class="w-full flex flex-col gap-[20px] md:gap-[45px]">
                    <div class="text-[30px] md:text-[50px] font-[600]">LOGIN</div>
                    <div class="flex flex-col gap-[20px] md:gap-[75px]">
                        <div class="flex flex-col gap-[10px] md:gap-[20px] w-full">
                            <label class="font-[400] text-[15px] md:text-[20px]" for="email">EMAIL</label>
                            <input type="email" name="Email"
                                class="bg-[#00000000] border-b-[1px] border-[#fff] w-full outline-none" required />
                        </div>

                        <div class="flex flex-col gap-[10px] md:gap-[20px] w-full">
                            <label class="font-[400] text-[15px] md:text-[20px]" for="password">PASSWORD</label>
                            <input type="password" name="Password"
                                class="bg-[#00000000] border-b-[1px] border-[#fff] w-full  outline-none" required />
                        </div>
                    </div>
                    {{ if .Error}}
                    <div>{{ .Error }}</div>
                    {{ end }}
                    <div
                        class="flex flex-row flex-wrap gap-5 justify-between w-full font-[400] text-[12px] md:text-[15px]">
                        <div class="flex flex-row gap-2 items-center">
                            <img src="/static/images/remember-me-icon.svg" class="w-[24px]" />
                            <div>REMEMBER ME</div>
                        </div>
                        <div>FORGOT PASSWORD?</div>
                    </div>
                    <div class="relative w-fit h-full flex flex-col self-center signup-animation">
                        <div
                            class=" h-full bg-[#000]  w-fit py-[6px] md:py-[8px] px-[20px] md:px-[40px] text-[#fff] text-[18px] font-[300] duration-500">
                            SIGN
                            UP</div>
                        <input type="submit" value="SIGN IN"
                            class="top-[-5px] left-[5px] absolute border-[2px] border-[#000] text-[#000] text-[18px] font-[300] bg-[#fff] w-fit py-[6px] md:py-[8px] px-[20px] md:px-[40px] duration-500" />

                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>