<html>
  {{ 
    template "header" 
    map "isWhite" false
    "Title" "Gomailer - Login"
  }}

  <body
    class="w-full m-0 p-0 bg-[#0D58FF] text-white font-[Lexend] px-[10px] py-[10px] md:px-[50px] md:py-[20px]"
  >
    <div class="w-full h-full flex flex-col gap-5">
      <div
        class="w-full h-full flex flex-col md:flex-row items-center gap-[20px] md:gap-[70px] mt-[70px]"
      >
        <div class="flex flex-col items-center w-[50%]">
          <img
            src="/static/images/Login-Ilustration.svg"
            class="w-[100%] md:w-[100%] h-auto"
          />
        </div>
        <div class="w-[100%] md:w-[42%] flex flex-col">
          <form
            method="post"
            action="/login"
            class="w-full flex flex-col gap-[20px] md:gap-[45px]"
          >
            <input type="hidden" name="csrf_token" value="{{.CsrfToken}}" />
            <div class="text-[30px] md:text-[50px] font-[600]">LOGIN</div>
            <div class="flex flex-col gap-[20px] md:gap-[75px]">
              <div class="flex flex-col gap-[10px] md:gap-[20px] w-full">
                <label class="font-[400] text-[15px] md:text-[20px]" for="email"
                  >EMAIL</label
                >
                <input
                  type="email"
                  name="Email"
                  class="bg-[#00000000] border-b-[1px] border-[#fff] w-full outline-none"
                  required
                />
              </div>

              <div class="flex flex-col gap-[10px] md:gap-[20px] w-full">
                <label
                  class="font-[400] text-[15px] md:text-[20px]"
                  for="password"
                  >PASSWORD</label
                >
                <input
                  type="password"
                  name="Password"
                  class="bg-[#00000000] border-b-[1px] border-[#fff] w-full outline-none"
                  required
                />
              </div>
            </div>
            {{ if .Error}}
            <div>{{ .Error }}</div>
            {{ end }}
            <div
              class="flex flex-row flex-wrap gap-5 justify-between w-full font-[400] text-[12px] md:text-[15px]"
            >
              <div class="flex flex-row gap-2 items-center">
                <img
                  src="/static/images/remember-me-icon.svg"
                  class="w-[24px]"
                />
                <div>REMEMBER ME</div>
              </div>
              <div>FORGOT PASSWORD?</div>
            </div>
            <div class="self-center">
              {{ 
                template "button" 
                map "ID" "about-2" 
                    "Label" "SIGN UP" 
                    "Action" "" 
              }}
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
