{{define "button"}}

<style>
  .btn-animation:hover > #front {
    background-color: #000;
    color: #fff;
    /* top-[-5px] left-[5px] */
    top: 0px;
    left: 0px;
  }

  .btn-animation:hover > #back {
    background-color: #fff;
    color: #000;
  }
</style>

<button
  onclick="{{.Action}}"
  class="relative w-fit h-full flex flex-col btn-animation cursor-pointer mt-2"
>
  <div
    id="back"
    class="w-fit h-full bg-[#000] text-[#fff] text-[16px] font-[300] duration-500 p-1"
  >
    {{.Label}}
  </div>
  <div
    id="front"
    class="absolute whitespace-nowrap w-fit top-[-5px] bg-[#fff] text-[#000] text-[16px] font-[300] left-[5px] border-[2px] border-[#000] duration-500 p-1"
  >
    {{.Label}}
  </div>
</button>

{{end}}
